@import "../Vars.scss";

.Sidebar {
  flex-basis: 300px;
  flex-shrink: 0;
  transition: transform 0.15s ease-in-out;
  z-index: 100;
  background-color: $very-light-gray;
  transform: translateX(0);
  box-sizing: border-box;
}

.Sidebar.active {
  transform: translateX(-300px);
}

.sidebar_header {
  padding: 24px;
}

.sidebar_header img {
  height: 15px;
}

.sidebar_header a {
  font-size: $lg;
  color: black;
  font-weight: bold;
}

.sidebar_content {
  padding: 0px 24px;
}

.sidebar_subtitle {
  font-size: $sm;
  color: $gray;
  font-weight: bold;
  padding-top: 28px;
  padding-bottom: 12px;
  margin: 0;
}

.sidebar_content ul li {
  padding: 12px 0px;
}

.sidebar_content ul li a {
  font-size: $md;
  color: black;
  transition: 250ms all;
}

.sidebar_content ul li a:hover {
  color: $blue;
}

.sidebar_icon {
  color: $gray;
}

@media (max-width: 992px) {
  .Sidebar {
    transform: translateX(-300px);
  }

  .Sidebar.active {
    transform: translateX(0);
  }
}
